# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Conda environment files
/envs/
.conda

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db